@import url("https://fontlibrary.org//face/typography-times");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(15, 15, 15);
}

.text {
    font-family: "TypographytimesRegular";
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}

#left {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex: auto;

    width: 40vw;
    height: 100vh;

    background-image: url("./media/background.jpg");
    background-position: center;
    background-size: cover;
}

#logo {
    width: 100%;
    height: auto;

    margin-top: 25vh;

    background-color: rgba(0, 0, 0, 0.664);
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60vw;

    gap: 80px;
}

#headerContainer {
    display: flex;
    flex-direction: column;
    width: 75%;

    padding-left: 70px;
    padding-right: 70px;
    gap: 20px;
}

#headerContainer .text{
    font-size: 17px;
    font-weight: normal;
    line-height: 1.3;
}

#formBox {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 5px black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 70px;
    gap: 40px;
}

#formBox .text {
    font-size: 20px;
    color: rgb(27, 27, 27);
}

#inputContainer {
    display: flex;
    flex: auto;
    flex-wrap: wrap;

    gap: 20px;
    width: 740px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    padding-right: 60px;
    width: 300px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;

    color: rgb(0, 0, 0);
}

.info {
    font-family: "Roboto", sans-serif;

    border: none;
    border-bottom: 2px solid rgb(201, 201, 201);

    height: 25px;
    padding: 5px 10px;

    transition: all .1s ease-in-out;
}

.info:hover {
    border-bottom: 2px solid rgb(121, 121, 121);
}

.info:focus {
    outline: none;
    border-color: black;
}

.info:valid {
    border-color: black;
}

.info:invalid {
    border-color: red;
}

#createAccount {
    margin: 40px 70px;
    width: 250px;
    height: 50px;

    border: none;
    border-radius: 5px;
    background-color: rgb(168, 0, 0);

    transition: all .1s ease-in-out;
}

#createAccount:hover {
    background-color: rgb(126, 2, 2);
}

#bottomText {
    font-size: 15px;
    font-weight: normal;

    margin-left: 70px;
}

#bottomText a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
